*{
    margin:  0;
    padding: 0;
}

#calculadora{
    width: 20em;
    height: 25em;
    display: grid;
    grid-template-rows: 70px repeat(5, auto);
    background-color: black;

    & input.resultado{
        width: 99.05%;
        background-color: black;
        color: white;
        text-align: right;
        font-size: 50px;
        border: none;
    }

    & div.div-elemento{
        display: grid;
        grid-auto-flow: column; /*Elementos em uma coluna única*/
        gap: 5px;
        align-items: center;
        justify-content: center;

        & button.botao{
            width: 3em;
            height: 90%;
            font-size: 20px;
            border-radius: 50px;
        }
        & .operador{
            background-color: orange;
            border: none;
        }

        & .top{
            background-color: gray;
            border: none;
        }

        & #zero{
            width: 128px
        }
    }
}
